# Python
__pycache__/
*.py[cod]

# Data & Logs
data/*.csv
logs/

# Models
models/

# Environment
.env
.env.prod
.venv/

# AI Instructions
.AI_INSTRUCTIONS.md

analyse_predictions.html
analyse_predictions_smart_recovery.pdf
